@media (min-width: 600px){
	div.nav{
		margin-top: 20px;
		margin-bottom: 10px;
	}

	div.botoes{
		margin-left: 10px;
		display:inline;
		float:right;
	}

	div.lista-mes{
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 1px;
		width:14.28%; 
		height:200px;
	}

	div.lista-semana{
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 1px;
		width:12.245%; 
		height:30px;
		text-align: center;
	}

	div.dia-mes{
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 1px;
		width:14.28%; 
		height: 50px;
		color: gray;
		display:flex;
		align-items: center;
		justify-content: center;
		background-color:#eeeeee;
	}
	div.dia-semana{
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 1px;
		width:12.245%; 
		height: 50px;
		color: gray;
		display:flex;
		align-items: center;
		justify-content: center;
		background-color:#eeeeee;
	}

	div.vazio-semana{
		width:12.245%;
	}
}

@media (max-width: 600px){
	div.nav{
		margin-top: 20px;
		margin-bottom: 10px;
		display:block;
	}

	div.botoes{
		margin-left: 10px;
		display:inline;
		float:right;
	}

	div.lista-mes{
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 1px;
		width:14.28%; 
		height:50px;
		display:flex;
		align-items: center;
		justify-content: center;
	}

	div.lista-semana{
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 1px;
		width:12.245%; 
		height:30px;
		text-align: center;
		white-space: nowrap;
    	overflow: hidden;
	}

	div.dia-mes{
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 1px;
		width:14.28%; 
		height: 50px;
		text-align: center;
		color: gray;
		display:flex;
		align-items: center;
		justify-content: center;
		background-color:#eeeeee;
		white-space: nowrap;
    	overflow: hidden;
	}
	div.dia-semana{
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 1px;
		width:12.245%; 
		height: 50px;
		text-align: center;
		color: gray;
		display:flex;
		align-items: center;
		justify-content: center;
		background-color:#eeeeee;
		white-space: nowrap;
    	overflow: hidden;
	}

	div.dias-semana{

	}

}

